<div class="row">
    <div class="large-12 columns">
        <h1>Login</h1>
    </div> 
</div>

<div class="row">
    <div class="large-12 columns">
        <form>
            <label>Name
                <input type="text" name="name" placeholder="Benutzername">
            </label>
            
            <label>Passwort
                <input type="password"  name="password" placeholder="Passwort">
            </label>
            
            <button type="submit" class="success button">Login</button>
        </form>
    </div> 
</div>