<div class="row">
    <div class="large-12 columns">
        <h1>Mein Profil</h1>
    </div> 
</div>

<div class="row">
    <div class="large-12 columns">
        <form>
            <label>Name ändern
                <input type="text" name="name" placeholder="leer lassen, falls keine Änderung">
            </label>
            
            <label>Passwort ändern
                <input type="password"  name="password" placeholder="leer lassen, falls keine Änderung">
            </label>
            
            <button type="submit" class="success button">Speichern</button>
        </form>
    </div> 
</div>
